.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  line-height: 1.15;
}

.scroll-float .char {
  display: inline-block;
}
