.scroll-float {
  display: block;
}

.scroll-float-text {
  display: inline;
  font-weight: inherit;
  text-align: inherit;
  line-height: inherit;
}

.scroll-float .char {
  display: inline-block;
  white-space: pre-wrap;
}

